* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  width: 100%;
 
  background-color: black;
  position: relative;
  font-family: roboto, sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 4%;
  background: black;
  z-index: 9;
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 70px;
}

.nav-links {
  margin-top: 10px;
  display: flex;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  margin-left: 20px;
  text-transform: capitalize;
  color: #fff;
  opacity: 0.9;
}

.right-container {
  display: block;
  margin-left: auto;
}

.search-box {
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  width: 250px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}

.search-box:focus {
  width: 400px;
  border-color: #1f80e0;
}

.sub-btn {
  background: #1f80e0;
  height: 30px;
  padding: 0 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin: 0 10px;
}

.login-link {
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0;
  margin-top: 80px;
}

.carousel {
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
  
}
.description {
  color: white;
  display: flex;
  width: 42%;
  height: 100%;
  position: relative;
  margin: auto;
  display: inline-block;
  padding: 0% 4% 4%;

  
}

.carousel-two {
  display: flex;
  width: 50%;
  height: 100%;
  position: relative;
  margin-left: 4%;
  float:left ;

}


.movie-title {
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}

.movie-des {
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
}

.video-card-container {
  position: relative;
  width: 92%;
  margin: auto;
  height: 10vw;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.video-card {
  position: relative;
  min-width: calc(100% / 5 - 10px);
  width: calc(100% / 5 - 10px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #030b17;
}

.video-card-image,
.card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-video {
  position: absolute;
}

.video-card:hover .video-card-image {
  display: none;
}

.title {
  color: #fff;
  padding-left: 4%;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 900;
}

.movies-list {
  width: 100%;
  height: 220px;
  position: relative;
  margin: 1px 0 20px;
}

.card-container {
  position: relative;
  width: 92%;
  height: 220px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  

}

.card {
  position: relative;
  min-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px; 
  
 
}

.card1 {
  position: relative;
  min-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
  padding: 10px;
 
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
  padding: 10px
 
  
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .card-body {
  opacity: 1;
}

.card-body {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
  padding: 10px;
  transition: 0.5s;
}





.name {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 60%;
}

.des {
  color: #fff;
  opacity: 0.8;
  margin: 5px 0;
  font-weight: 500;
  font-size: 12px;
}

.watchlist-btn {
  position: relative;
  width: 100%;
  text-transform: capitalize;
  background: none;
  border: none;
  font-weight: 500;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
}

.watchlist-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  height: 35px;
  width: 35px;
  background-image: url(images/add.png);
  background-size: cover;
  transform: scale(0.4);
}

.watchlist-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}


footer{
  max-width: calc(100vw - 105px);
  height: 154px;
  align-self: center;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  padding-left: 5%;
}
.footer-about{
  max-width: 735px;
  padding-right: 10%;
  flex-wrap:wrap;
}
.about-paragraph{
  margin-top: 11px;
}
.about-link ul{
  display:flex;
  padding: 0px;
}
.about-link ul li{
  list-style: none;
  margin:0px 25px 0px 0px;
}
.about-link ul li a{
  text-decoration: none;

}
#social-media-account{
  width: 200px;
  display: flex;
}
.fb,.tw{
  max-width: 40px;
  height: 40px;
  margin-right: 10px;
}

.fill{
  line-height: 2em ;
}
form{
  padding:6% 4% 4% 5%;
  width: 100%;
  
}

#submit,textarea{
  color:black;
}